div {
    height: 300px;
    width: 500px;
    text-align: center;
    font-size: 24px;
    color: #26b0d3;
    font-family: 'Dancing Script', cursive;

}

h2 {
    color: #41bddc;
    font-family: 'Dancing Script', cursive;

}

@media screen and (max-width: 600px) {
    div {
        width: 200px;
        font-size: 18px;
    }
    
  }