/* HeroesComponent's private CSS styles */
.carList {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: #193842;
}

.cars {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .cars li {
    display: flex;
  }
  
  .cars button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #606f6d;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  
  .cars button:hover {
    color: black;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .cars button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .cars button.selected {
    background-color: #161210;
    color: white;
  }
  
  .cars button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .cars button.selected:active {
    background-color: black;
    color: white;
  }
  
  .cars .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #fbb40f;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .cars .name {
    align-self: center;
  }