.dashboardDiv {
    margin-left: 15%;
    margin-top: 5%;
    height: 500px;
    width: 900px;
    background-color: #193842;
}
.dashboardDiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.carsLink {
    color: #fbb40f;
    font-size: 56px;
    font-family: Verdana, Geneva, 'Tahoma', sans-serif;
}